<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1">
    <title>Olive</title>
    <link rel="stylesheet" href="/styles/brand.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">



</head>

<body>
    <div class="container">
        <header>
            <div class="logo">
                <h1>logo</h1>
            </div>
            <div class="icon">
                <a href="/profile">
                    <div class="user">
                        <img src="/assest/OLIVE/usergold.png" alt="" srcset="">
                    </div>
                </a>
                <a href="/dashboard">
                    <div class="home">
                        <img src="/assest/OLIVE/goldHomeIcon.png" alt="" srcset="">
                    </div>
                </a>
            </div>
        </header>
        <div class="transform" style="transition: transform .3s ease .3s;">
            <section class="largeImg">
                <img style="height: 300px; Width:414px;object-fit: cover; " class="changeImg"
                    src="<%= audition.auditionLogo %> " />
                <!-- <img src="/assest/OLIVE/guy.png" /> -->
                <!-- <img class="carousel" src="/assest/OLIVE/Group 2.png" /> -->
            </section>
            <section class="content brand">
                <h4 class="content_header">
                    <%= audition.auditionName %>
                </h4>
                <div class="brand_text">
                    <p>
                        <%= audition.auditionDescription %>
                    </p>

                    <div class="d">
                        <span class="content_header">
                            <%= audition.auditionStartDate %>
                        </span>

                        <span class="content_header">
                            <%= audition.auditionEndDate %>
                        </span>
                    </div>

                    <form class="record">

                        <div class="tools">
                            <form>
                                <!-- ejs if -->
                                <% if (audition.auditionPattern===0 ) { %>
                                    <div>
                                        <input type="file" name="" id="upload" hidden>
                                        <label for="upload">
                                            <img height="50px" src="/assest/OLIVE/uploadGold.png" alt="" srcset="">

                                            <h6>Upload your video</h6>
                                        </label>
                                    </div>
                                    <% } %>
                                        <% if (audition.auditionPattern===1 ) { %>
                                            <div id="recordBtn">
                                                <a target="restream" class="saveuser">
                                                    <img src="/assest/OLIVE/recordgold.png" alt="" srcset="">
                                                    <h6>Record a video</h6>
                                                </a>
                                            </div>
                                            <% } %>



                                                <!-- // <div class="audio">
                                //     <img src="/assest/OLIVE/audio.png" />
                                //     <p>Audio</p>
                                // </div>
                                 -->


                            </form>
                        </div>

                </div>
                <div class="updateprofile">
                    <h6 class="content_header">Update Your Profile</h6>
                    <p>Kindly update your profile </p>
                </div>
                <button class="btn">Update Your Profile</button>
                </form>
            </section>
            <section class="last">
                <div></div>
            </section>
        </div>
        <div id="forlivevideo"
            style="min-height: 730px; display: flex; flex-direction: column; transform: translateY(730px);transition: transform .5s ease .5s;  align-items: center; gap: 10px; padding: .55em; background-color: black;">
            <h4 class="content_header">Big Brother Naija 2022</h4>
            <iframe allowfullscreen height="730px" allow="camera; microphone;" width="100%" src="" frameborder="0"
                name="restream">
            </iframe>
        </div>
    </div>
    <script>

        const recordBtn = document.getElementById("recordBtn");
        const tr = document.querySelector(".transform");
        const forlivevideo = document.querySelector("#forlivevideo");
        recordBtn.addEventListener("click", (e) => {
            tr.style.transform = 'translateY(-730px)'
            forlivevideo.style.transform = 'translateY(-730px)'
            document.querySelector("iframe").src = "https://studio.restream.io/guest/bDBaNllXa7srZaCHW01LjKxavz4ynEU"
        })


        window.addEventListener("DOMContentLoaded", (e) => {
            alert()
            const d = {
                auditionId: '<%=audition._id%>',
                user: '<%=user._id%>'
            }
            fetch("/digitalauditionplatform", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(d)
            })
                .then(res => res.json())
                .then(data => {
                    console.log(data);
                    if (data.success) {
                        // window.location.href = "/dashboard";
                        console.log("joined")
                    }
                })

        })



    </script>
</body>

</html>