<%- include ("./partials/header.ejs") %>

    <section class="largeImg">
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <img src="/assest/OLIVE/woman.png" />
                </div>
                <div class="swiper-slide">
                    <img style="height: 452px; width: 414px;object-fit: cover;" src="/assest/OLIVE/guy.png" />
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->

            <div class="swiper-button-prev">
                <img class="carousel-l" src="/assest/OLIVE/Group 2.png" />
            </div>
            <div class="swiper-button-next">
                <img class="carousel" src="/assest/OLIVE/Group 2.png" />
            </div>

            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>

            <!-- 
            <img src="/assest/OLIVE/guy.png" />
            <img src="/assest/OLIVE/woman.png" />  -->
        </div>
        <!--  -->
    </section>
    <section class="content">

        <h4 class="content_header">Auditions Available</h4>

        <div class="boxs">
            <% auditions.forEach(element=> { %>

                <div class="bo">

                    <img style="border-radius:10px" src=<%=element.auditionLogo %>>
                    <h6 class="content_header audition" data-id="<%=element._id %>"
                        data-provider="<%=element.provider %>">
                        <%= element.auditionName %>
                    </h6>
                    <% if(element.auditionCharges> 0){ %>
                        <p class="content_header audition">
                            &#x20A6; <span>
                                <%= element.auditionPrice %>
                            </span>
                        </p>
                        <!-- <button type="button" onClick="makePayment()">Pay Now</button> -->
                        <% } else { %>
                            <p class="content_header audition">
                                Free
                            </p>
                            <% } %>
                </div>


                <% }) %>
        </div>

        <!-- <a href="/digitalauditionplatform/bbnaija">
                <div class="bo">
                    <img src="/assest/OLIVE/bbn.png">
                    <h6 class="content_header audition">bbnaija</h6>
                </div>
            </a>
            <div class="bo">
                <img src="/assest/OLIVE/headies.png">
                <h6 class="content_header audition">headies</h6>
            </div>
            <div class="bo">
                <img src="/assest/OLIVE/projectfame.png">
                <h6 class="content_header audition">projectfame</h6>
            </div> -->
        <!-- </div> -->
        <!-- <h4 class="content_header">YOUTH CENTRIC DIGITAL ECOSYSTEM</h4>
        <p class="content_text">
            <strong>Olive platform</strong> is a triumvirate and youth-centric digital ecosystem built for creative
            enthusiasts
            seeking talent discovery, training, incubation, content production, publicity, audience engagement and
            market nexus to monetize digital contents in music, movies, fashion, and creative expressions.
        </p>
        <div class="youtube">
            <img src="/assest/OLIVE/ladyYoutube.png" alt="" srcset="">
            <img class="youtubelogo" src="/assest/OLIVE/fontisto_youtube-play.png">
        </div>
        <div class="join">

            <div class="phoneInput">
                <h4 class="form content_header">JOIN FREE OR SIGN IN</h4>
                <img src="/assest/OLIVE/line 2.png" />
                <form id="form">
                    <div class="flex-form">
                        <select name="" id="">
                        </select>
                        <input type="number" name="" id="">
                    </div>
                    <img src="/assest/OLIVE/line 2.png" />
                    <button class="btn">SIGN IN</button>
                </form>
            </div>
            <p>*By continuing you accept the Promoflo network and OLIVE Terms and Privacy Policy.</p>
            <p>or <span>LOG IN</span> with </p>
        </div> -->



    </section>
    <script src="https://checkout.flutterwave.com/v3.js"></script>
    <script>
        const user_id = "<%= user._id %>"
        const auditions = document.querySelectorAll(".bo");
        auditions.forEach(element => {
            element.addEventListener("click", (e) => {
                const parent = e.target.parentElement;
                console.log(parent)
                const id = parent.querySelector('.audition').getAttribute("data-id");
                const provider = parent.querySelector('.audition').getAttribute("data-provider");
                const logo = parent.querySelector('img').getAttribute("src");
                const price = parent.querySelector('span').innerText;
                console.log(price);

                function makePayment() {

                    FlutterwaveCheckout({
                        public_key: "FLWPUBK_TEST-4ca1ba86e66042a64f13a6248d694d4e-X",
                        tx_ref: id,
                        amount: price,
                        currency: "NGN",
                        country: "NG",
                        payment_options: " ",
                        redirect_url: // specified redirect URL
                            `http://localhost:1200/paidaudition?audition=${id}&provider=${provider}&user=${user_id}`,
                        meta: {
                            consumer_id: 23,
                            consumer_mac: "92a3-912ba-1192a",
                        },
                        customer: {
                            email: "cornelius@gmail.com",
                            phone_number: "<%= user.username %>",
                            name: "Flutterwave Developers",
                        },
                        callback: function (data) {
                            console.log(data);
                        },
                        onclose: function () {
                            // close modal
                        },
                        customizations: {
                            title: "My store",
                            description: "Payment for items in cart",
                            logo: logo,
                        },
                    });
                }

                makePayment()


            });
        });
        console.log(auditions);


        // const API_publicKey = "<ADD YOUR PUBLIC KEY HERE>";

        // function payWithRave() {
        //     var x = getpaidSetup({
        //         PBFPubKey: API_publicKey,
        //         customer_email: "user@example.com",
        //         amount: 2000,
        //         customer_phone: "234099940409",
        //         currency: "NGN",
        //         txref: "rave-123456",
        //         meta: [{
        //             metaname: "flightID",
        //             metavalue: "AP1234"
        //         }],
        //         onclose: function () { },
        //         callback: function (response) {
        //             var txref = response.data.txRef; // collect txRef returned and pass to a                    server page to complete status check.
        //             console.log("This is the response returned after a charge", response);
        //             if (
        //                 response.data.chargeResponseCode == "00" ||
        //                 response.data.chargeResponseCode == "0"
        //             ) {
        //                 // redirect to a success page
        //             } else {
        //                 // redirect to a failure page.
        //             }

        //             x.close(); // use this to close the modal immediately after payment.
        //         }
        //     });
        // }
    </script>
    <%- include("./partials/footer.ejs") %>