<%- include ("./partials/header.ejs") %>

    <section class="largeImg">
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <img src="/assest/OLIVE/woman.png" />
                </div>
                <div class="swiper-slide">
                    <img style="height: 452px; width: 414px;object-fit: cover;" src="/assest/OLIVE/guy.png" />
                </div>

                <div class="swiper-slide">
                    <img src="/assest/OLIVE/ankara.png" />
                </div>

                <div class="swiper-slide">
                    <img src="/assest/OLIVE/flowergirl.png" />
                </div>

            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->

            <div class="swiper-button-prev">
                <img class="carousel-l" src="/assest/OLIVE/Group 2.png" />
            </div>
            <div class="swiper-button-next">
                <img class="carousel" src="/assest/OLIVE/Group 2.png" />
            </div>

            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>

            <!-- 
            <img src="/assest/OLIVE/guy.png" />
            <img src="/assest/OLIVE/woman.png" />  -->
        </div>
        <!--  -->
    </section>
    <section class="content">
        <h4 class="content_header"">My Auditions</h4>
        <div class=" boxs" id="">
            <% if (audition===[]) { %>
                <p>you have not join any audition</p>
                <% } %>
                    <% if (audition) { %>

                        <% audition.forEach(element=> { %>

                            <div class="bo " id="myaudition" style="position: relative; cursor: pointer;">

                                <img width="147px" height="147px"
                                    style="background-color: transparent; border: .5px solid #FFCA00;border-radius: 12px;max-width: 148px; max-height: 148px;"
                                    src=<%=element.auditionLogo %>>

                                <h6 class="content_header audition " data-id="<%=element._id %>"
                                    data-provider="<%=element.provider %>">
                                    <%= element.auditionName %>
                                </h6>

                            </div>


                            <% }) %>
                                <% } %>
                                    </div>
    </section>
    <section class="content">

        <h4 class="content_header">Auditions Available</h4>

        <div class="boxs" style="grid-gap: 0px;">
            <% if (auditions) { %>

                <% auditions.forEach(element=> { %>

                    <div class="bo all" id="all" style="position: relative; cursor: pointer;">

                        <img width="147px" height="147px"
                            style="border: 1.1px solid #FFCA00;border-radius: 15px;box-sizing: border-box; max-width: 147px; max-height: 148px;min-width: 148px; min-height: 147px;"
                            src=<%=element.auditionLogo %>>

                        <h6 class="content_header audition availableAudition" data-id="<%=element._id %>"
                            data-provider="<%=element.provider %>" data-price="<%=element.auditionPrice%>">
                            <%= element.auditionName %>
                        </h6>
                        <% if(element.auditionPrice> 0){ %>
                            <p class="content_header audition" hidden>
                                &#x20A6; <span class="price">
                                    <%= element.auditionPrice %>
                                </span>
                            </p>
                            <div class="detect" style="position: relative; bottom: 67px; right: -56px;">
                                <img src="/assest/OLIVE/Rectangle 43.png" alt="" srcset="">
                                <small style="position: absolute;right: 60px;top: 2px; color: #DF465E
                                ;font-size: smaller;">Paid</small>
                            </div>

                            <!-- <button type="button" onClick="makePayment()">Pay Now</button> -->
                            <% } else { %>
                                <p class="content_header audition" hidden>
                                    <span>
                                        <%= element.auditionPrice - element.auditionPrice %>
                                    </span>
                                </p>
                                <div class="detect" style="position: relative; bottom: 67px; right: -56px;">
                                    <img src="/assest/OLIVE/Rectangle 43.png" alt="" srcset="">
                                    <small
                                        style="position: absolute;right: 60px;top: 2px;color: #DF465E;font-size: smaller;">Free</small>
                                </div>
                                <% } %>
                    </div>


                    <% }) %>
                        <% } %>
        </div>




    </section>


    <div class="" style="background-color: rgb(0, 0, 0);">
        <div class="footer_social">
            <div>
                <p><span style="color: #ddd;">&copy; 2021</span> GhenGhen </p>
            </div>
            <div class="social_icon">
                <img src="/assest/OLIVE/fb.png" />
                <img src="/assest/OLIVE/instagram.png" />
                <img src="/assest/OLIVE/twitter.png" />
            </div>
        </div>
    </div>
    <script src="https://checkout.flutterwave.com/v3.js" id="flutter"></script>
    <script>
        const user_id = "<%= user._id %>"
        const auditions = document.querySelectorAll("#all");
        auditions.forEach(element => {
            element.addEventListener("click", (e) => {
                const parent = e.target.parentElement;
                console.log(parent)
                const id = parent.querySelector('.audition').getAttribute("data-id");
                const provider = parent.querySelector('.audition').getAttribute("data-provider");
                const logo = parent.querySelector('img').getAttribute("src");
                const price = parent.querySelector('.audition').getAttribute("data-price");





                fetch("/check", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        id: id,
                    })
                }).then(res => res.json())
                    .then(data => {
                        console.log(data);
                        if (data.status === "paid") {
                            function makePayment() {

                                FlutterwaveCheckout({
                                    public_key: "FLWPUBK_TEST-ee16b8429467881fb5912f6e31e72a52-X",
                                    tx_ref: `${id}${Date.now()}`,
                                    amount: price,
                                    currency: "NGN",
                                    country: "NG",
                                    payment_options: " ",
                                    // redirect_url: // specified redirect URL
                                    //     `http://localhost:1200/paidaudition?audition=${id}&provider=${provider}&user=${user_id}`,
                                    meta: {
                                        consumer_id: 23,
                                        consumer_mac: "92a3-912ba-1192a",
                                    },
                                    customer: {
                                        email: "<%=user.email%>",
                                        phone_number: "<%= user.username %>",
                                        name: "GhenGhen Live tution",
                                    },
                                    callback: function (datas) {
                                        fetch("/paid", {
                                            method: "POST",
                                            headers: {
                                                "Content-Type": "application/json",
                                            },
                                            body: JSON.stringify({
                                                data: datas,
                                                user: '<%=user._id%>',
                                                audition: id,


                                            })
                                        }).then(res => res.json())
                                            .then(data => {
                                                console.log(data);
                                                if (data.status) {
                                                    window.location.assign(`/payment/success`
                                                    );
                                                } else {
                                                    window.location.assign("/digitalauditionplatform")
                                                }
                                            })
                                    },
                                    onclose: function () {
                                        window.location.assign("/digitalauditionplatform")
                                    },
                                    customizations: {
                                        title: "GhenGhen Live",
                                        description: "GhenGhen Live tution for <%=auditions.auditionName%>",
                                        logo: logo,
                                    },
                                });
                            }

                            makePayment()
                        }
                        else {
                            // post all details to the server
                            fetch("/free", {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json",
                                },
                                body: JSON.stringify({
                                    user: '<%=user._id%>',
                                    audition: id,
                                })
                            }).then(res => res.json())
                                .then(data => {
                                    console.log(data);
                                    if (data.status) {
                                        window.location.assign(`
                                        /auditions/${data.status}`
                                        );
                                    } else {
                                        window.location.assign("/digitalauditionplatform")
                                    }
                                })
                        }
                    })





            });
        });

        const myaudition = document.querySelectorAll("#myaudition");
        if (myaudition) {
            myaudition.forEach(element => {
                // element.addEventListener("click", (e) => {
                const parent = element.parentElement;
                console.log(parent)
                const id = element.querySelector('.audition').getAttribute("data-id");
                console.log(id)
                const availableAudition = document.querySelectorAll(".availableAudition");
                element.addEventListener("click", (e) => {
                    // remove script from the page

                    window.location.assign(`/auditions/${id}`)
                })
                availableAudition.forEach(element => {
                    if (element.getAttribute("data-id") === id) {
                        element.parentElement.style.display = "none";
                    }
                })

                // });
            })

        }
        // const API_publicKey = "<ADD YOUR PUBLIC KEY HERE>";

        // function payWithRave() {
        //     var x = getpaidSetup({
        //         PBFPubKey: API_publicKey,
        //         customer_email: "user@example.com",
        //         amount: 2000,
        //         customer_phone: "234099940409",
        //         currency: "NGN",
        //         txref: "rave-123456",
        //         meta: [{
        //             metaname: "flightID",
        //             metavalue: "AP1234"
        //         }],
        //         onclose: function () { },
        //         callback: function (response) {
        //             var txref = response.data.txRef; // collect txRef returned and pass to a                    server page to complete status check.
        //             console.log("This is the response returned after a charge", response);
        //             if (
        //                 response.data.chargeResponseCode == "00" ||
        //                 response.data.chargeResponseCode == "0"
        //             ) {
        //                 // redirect to a success page
        //             } else {
        //                 // redirect to a failure page.
        //             }

        //             x.close(); // use this to close the modal immediately after payment.
        //         }
        //     });
        // }
    </script>
    <%- include("./partials/footer.ejs") %>