<%- include ("./partials/header.ejs") %>
    <section class="largeImg">
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->

                <div class="swiper-slide">
                    <img src="/assest/OLIVE/woman.png" />
                </div>
                <div class="swiper-slide">
                    <img src="/assest/OLIVE/ankara.png" />
                </div>
                <div class="swiper-slide">
                    <img style="height: 452px; width: 414px;object-fit: cover;" src="/assest/OLIVE/guy.png" />
                </div>
                <div class="swiper-slide">
                    <img src="/assest/OLIVE/flowergirl.png" />
                </div>

            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->

            <div class="swiper-button-prev">
                <img class="carousel-l" src="/assest/OLIVE/Group 2.png" />
            </div>
            <div class="swiper-button-next">
                <img class="carousel" src="/assest/OLIVE/Group 2.png" />
            </div>

            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>

            <!-- 
            <img src="/assest/OLIVE/guy.png" />
            <img src="/assest/OLIVE/woman.png" />  -->
        </div>
        <!--  -->
    </section>
    <section class="content">
        <h4 class="content_header">MY AUDITION</h4>

        <% if (auditions.length===0) { %>
            <p class="no_auditions">You have no auditions</p>
            <% } %>

                <div class="auditionBox">
                    <% if (auditions) { %>

                        <div class="abox">
                            <p class="err"></p>
                            <div class="abox_content">
                                <img src="/assest/OLIVE/dot.png" style="margin-left: 5px;" />
                                <div class="auditiontext">
                                    <h4 style="text-transform: uppercase;">
                                        <%= auditions.auditionName %>
                                    </h4>
                                    <p>
                                        <%= auditions.auditionDescription %>
                                    </p>
                                </div>

                            </div>
                            <div class="abox_content">
                                <img src="/assest/OLIVE/location.png" />
                                <p>Nigeria</p>
                            </div>
                            <div class="abox_content">
                                <img src="/assest/OLIVE/wifi.png" />
                                <p class="date">
                                    <%= auditions.auditionStartDate %>
                                </p>
                            </div>
                            <div class="abox_content">
                                <img src="/assest/OLIVE/date.png" />
                                <p>
                                    <% if (auditions.auditionPattern===1) { %>

                                        Live Event

                                        <% } %>

                                            <% if (auditions.auditionPattern===0) { %>
                                                Upload
                                                <% } %>



                                </p>
                            </div>
                            <!-- flex div -->
                            <% if (auditions.auditionPattern===1) { %>
                                <% if (dateSelection===false) { %>
                                    <form id="dateSelection">
                                        <div class="timeLeft"></div>

                                        <div
                                            style="display: flex;gap: 15px;flex-direction: row;align-items: flex-start; background-color: #000;">
                                            <!-- <label id="forDate" for="dateandtime"> <img src="/assest/OLIVE/date.png" /></label> -->
                                            <input name="date" id="dateandtime" type="date"
                                                min="<%=auditions.auditionStartDate%>"
                                                max="<%=auditions.auditionEndDate%>">
                                            <p>
                                                <select name="time" id="time" style="padding: 5px;">
                                                    <option value="">Select Time</option>
                                                    <option value="9:00">9:00 am - 11:00 am</option>
                                                    <option value="2:00">2:00 pm - 4:00 pm</option>
                                                    <option value="6:00">6:00 pm - 8:00 pm</option>

                                                </select>
                                            </p>

                                            <button id="checkA" type="submit" style="padding: .5em;">Submit
                                            </button>
                                        </div>
                                    </form>

                                    <% } %>
                                        <% if (dateSelection) { %>
                                            <p>Your audition link will be available on</p>
                                            <p class="dbDate">
                                                <%= dateSelection.date %>
                                            </p>
                                            <div class="timeLeft">
                                            </div>
                                            <a class="readyforaudition" target="_blank"
                                                href="https://studio.restream.io/guest/bDBaNllXa7srZaCHW01LjKxavz4ynEU">Go
                                                to
                                                Audition</a>
                                            <%}%>
                                                <% } %>
                                                    <!-- <input type="time" name="" id="time" list="appointmentdateslist"> -->
                                                    <!-- select time -->


                                                    <% if (video) { %>
                                                        <p>Your video has been uploaded</p>
                                                        <% } %>
                                                            <% if (video===false ) { %>
                                                                <form enctype="multipart/form-data">
                                                                    <input type="file" name="upload" id="upload" hidden>

                                                                    <label for="upload" style="cursor: pointer;">
                                                                        <a class="uploadbtn" style="float: right;"
                                                                            data-audition="<%=auditions._id%>"
                                                                            data-provider='<%=auditions.provider%>'
                                                                            data-user="<%=user._id%>">Upload</a>
                                                                    </label>
                                                                </form>

                                                                <% } else {%>

                                                                    <% } %>

                        </div>
                        <br>

                        <% } %>





                </div>

                <!-- <h4 class="content_header">YOUTH CENTRIC DIGITAL ECOSYSTEM</h4>
        <p class="content_text">
            <strong>Olive platform</strong> is a triumvirate and youth-centric digital ecosystem built for creative
            enthusiasts
            seeking talent discovery, training, incubation, content production, publicity, audience engagement and
            market nexus to monetize digital contents in music, movies, fashion, and creative expressions.
        </p>
        <div class="youtube">
            <img src="/assest/OLIVE/ladyYoutube.png" alt="" srcset="">
            <img class="youtubelogo" src="/assest/OLIVE/fontisto_youtube-play.png">
        </div>
        <div class="join">

            <div class="phoneInput">
                <h4 class="form content_header">JOIN FREE OR SIGN IN</h4>
                <img src="/assest/OLIVE/line 2.png" />
                <form id="form">
                    <div class="flex-form">
                        <select name="" id="">
                        </select>
                        <input type="number" name="" id="">
                    </div>
                    <img src="/assest/OLIVE/line 2.png" />
                    <button class="btn">SIGN IN</button>
                </form>
            </div>
            <p>*By continuing you accept the Promoflo network and OLIVE Terms and Privacy Policy.</p>
            <p>or <span>LOG IN</span> with </p>
        </div> -->
    </section>


    <div class="" style="background-color: #fff;">
        <div class="footer_social">
            <div>
                <p><span style="color: #ddd;">&copy; 2021</span> GhenGhen </p>
            </div>
            <div class="social_icon">
                <img src="/assest/OLIVE/fb.png" />
                <img src="/assest/OLIVE/instagram.png" />
                <img src="/assest/OLIVE/twitter.png" />
            </div>
        </div>
    </div>
    <script>

        const err = document.querySelector('.err');

        const date = document.querySelector(".date");
        const readyforaudition = document.querySelector(".readyforaudition");
        const setDate = date.innerHTML;
        // get day

        const day = setDate.slice(0, 2);
        // get month
        const month = setDate.slice(3, 5);

        const upload = document.querySelector("#upload");
        const uploadform = document.querySelector("#form");
        const btn = document.querySelector(".btn");
        const uploadbtn = document.querySelector(".uploadbtn");

        // video duration check
        if (upload) {
            upload.addEventListener("change", (e) => {
                const file = e.target.files[0];
                const fileType = file.type;
                if (fileType.match(/video.*/)) {
                    const video = document.createElement("video");
                    video.src = URL.createObjectURL(file);
                    video.onloadedmetadata = () => {
                        const duration = video.duration;
                        if (duration > 60) {
                            err.innerHTML = "Video duration should be 1 minute or less";
                            err.style.color = "goldenrod";
                            return false
                        } else {
                            uploadbtn.innerHTML = "Please wait...";

                            // immediately post to server



                            const formData = new FormData();
                            const audition = uploadbtn.getAttribute("data-audition");
                            const provider = uploadbtn.getAttribute("data-provider");
                            const user = uploadbtn.getAttribute("data-user");
                            formData.append("user", user);
                            formData.append("provider", provider);
                            formData.append("audition", audition);
                            formData.append("video", file);

                            //  post to server with fecth
                            fetch("/uploadvideo", {
                                method: "POST",
                                body: formData
                            })
                                .then((res) => res.json())
                                .then((data) => {
                                    console.log(data);
                                    if (data.status === "success") {
                                        err.innerHTML = "video uploaded";
                                        window.location.reload();
                                        // uploadform.reset();
                                        uploadbtn.innerHTML = "Uploaded";
                                    } else {
                                        err.innerHTML = "error uploading video";
                                    }
                                });

                            // post formdata to server and display success message



                        }
                    };
                } else {
                    alert("Please upload a video file");

                }
            });
        }
        const dateSelection = document.querySelector("#dateSelection");
        if (dateSelection) {
            dateSelection.addEventListener("submit", (e) => {
                e.preventDefault();
                // const dateTimeLeft = new Date(dateTime).toLocaleString();
                // console.log(dateTime);
                if (dateSelection.date.value && dateSelection.time.value) {
                    const date = dateSelection.date.value
                    const time = dateSelection.time.value

                    const dateTime = date + ":" + time;
                    const selectedDateAndTime = new Date(dateTime)
                    // post to server
                    let payload = {
                        date: dateTime,
                        user: "<%=user._id%>",
                        provider: "<%=auditions.provider%>",
                        audition: "<%=auditions._id%>"
                    }
                    fetch("/dateselection", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(payload)
                    }).then(res => res.json())
                        .then(data => {
                            console.log(data);
                            if (data.status === "success") {
                                err.innerHTML = "Date and time selected";
                                window.location.reload();
                            } else if (data.status === "limit") {
                                err.innerHTML = "Date and time already selected";
                            }
                            else {
                                err.innerHTML = "error selecting date and time";

                            }
                        })


                    // display time left
                    let timeLeftDisplay = document.querySelector(".timeLeft");

                } else {
                    err.innerHTML = "Please select a date and time";
                    // alert("Please select date and time");
                }
                // get data from formdata







            })

        } else {
            let readyforaudition = document.querySelector(".readyforaudition");
            let timeLeftDisplay = document.querySelector(".timeLeft");
            let dbDate = document.querySelector(".dbDate");
            let newDate = new Date(dbDate.innerHTML);
            let dateTime = newDate.toLocaleString();
            let currentDateTime = new Date().getTime();
            let timeLeft = newDate.getTime() - currentDateTime;
            let timeLeftDate = new Date(timeLeft);
            let hours = timeLeftDate.getHours();
            let minutes = timeLeftDate.getMinutes();
            let seconds = timeLeftDate.getSeconds();
            let days = timeLeftDate.getDay() - 1;
            // let days = timeLeftDate.getDate() - 1;
            // timeLeftDisplay.innerHTML = `${days} : ${hours} : ${minutes} : ${seconds} `;
            const countDown = setInterval(() => {
                // check if time left is less than 0
                if (timeLeft >= currentDateTime) {
                    // clear interval
                    clearInterval(countDown);
                    // display time left
                    timeLeftDisplay.innerHTML = "Time is up";
                    readyforaudition.style.display = "block";


                } else {
                    readyforaudition.style.display = "none";
                    // convert time left to Date object
                    let timeLeftDate = new Date(timeLeft);
                    // get hours, minutes and seconds
                    let hours = timeLeftDate.getHours();
                    let minutes = timeLeftDate.getMinutes();
                    let seconds = timeLeftDate.getSeconds();



                    // display time left
                    timeLeftDisplay.innerHTML = `${days} : ${hours} : ${minutes} : ${seconds} `;
                    timeLeftDisplay.style.color = 'goldenrod'
                    // reduce time left by 1 second
                    timeLeft -= 1000;
                }
            }, 1000);

        }


    </script>

    <%- include("./partials/footer.ejs") %>