<%- include ("./partials/header.ejs") %>

    <section class="content">

        <div class="container-fluid">

            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
                <div class="card ">
                    <div class="header bg-orange">
                        <h2 class="">

                            <%= auditions.auditionName %>
                        </h2>
                        <ul class="header-dropdown m-b--5">

                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                    role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Edit</a></li>
                                    <li><a href="delete/<%= auditions._id %> " class=" waves-effect waves-block">Delete
                                        </a></li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">

                        <div class="left">
                            <img style="border: 50%;" alt="img" src="<%= auditions.auditionLogo  %> " />
                        </div>
                        <h5>
                            <small>Description:</small>
                            <%= auditions.auditionDescription %>

                        </h5>
                        <hr>
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <b>Audition StartDate:</b>
                                <%=auditions.auditionStartDate %>

                            </div>
                            <div class="col-sm-6">
                                <b>Audition EndDate:</b>
                                <%= auditions.auditionEndDate %>
                            </div>
                            <!-- <div class="col-sm-6">
                                <b>Audition EndDate:</b>
                                <%= auditions.auditionPrice %>
                            </div> -->


                        </div>
                        <hr>
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <b>Audition Charges:</b>
                                <% if ( auditions.auditionCharges===0) { %>
                                    Free
                                    <% } %>
                                        <% if ( auditions.auditionCharges===1) { %>
                                            Payment
                                            <% } %>

                            </div>
                            <div class="col-sm-6">
                                <b>Audition Pattern:</b>
                                <% if ( auditions.auditionPattern==="0" ) { %>
                                    Upload
                                    <% } %>
                                        <% if ( auditions.auditionPattern==="1" ) { %>
                                            Record
                                            <% } %>
                            </div>
                        </div>
                        <hr>
                        <div class="row clearfix">

                            <div class="col-sm-6">
                                <b>Provider:</b>
                                <%= provider.username %>
                            </div>
                            <div class="col-sm-6">
                                <b>Provider Email:</b>
                                <%= provider.email %>
                            </div>
                        </div>
                        <hr>
                        <div class="row clearfix">

                            <div class="col-sm-12 col-lg-12">
                                <!-- <b>Audition Link:</b> -->
                                <% if (auditions.auditionLink) { %>

                                    <pre id="copytext"><%=auditions.auditionLink%></pre>
                                    <% } %>
                                        <% if (!auditions.auditionLink) { %>
                                            No Link Provided
                                            <% } %>

                            </div>
                            <% if (!auditions.auditionLink) { %>
                                <div class="col-sm-6">
                                    <form id="getlink">
                                        <button class="getlinkBtn" type="submit"
                                            data-auditionId="<%=auditions._id%>">Generate Link</button>
                                    </form>
                                </div>
                                <% } %>


                        </div>
                    </div>
                </div>
    </section>

    <script>
        // click on copytext to copy the link
        // copytext.addEventListener('click', function () {
        //     copytext.select();
        //     document.execCommand('copy');
        // });

        //  create a text are when click copytext and copy the link




        const getlink = document.querySelector("#getlink");
        if (getlink) {
            const getlinkBtn = document.querySelector(".getlinkBtn").getAttribute("data-auditionId");
            getlink.addEventListener("submit", (e) => {
                e.preventDefault();
                fetch("/provider/getlink", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        auditionId: getlinkBtn
                    })
                }).then(res => res.json()).then(data => {
                    console.log(data);
                    if (data.status === "true") {
                        alert("Link Generated");
                        // window.location.reload();
                    }
                })
            });
        } else {
            // console.log("no link");
            // click and copy link

            const copytext = document.getElementById('copytext');
            // remove first and last "

            copytext.addEventListener('click', function () {
                var textArea = document.createElement("textarea");
                textArea.value = copytext.innerText;
                document.body.appendChild(textArea);
                textArea.select();
                document.execCommand("copy");
                textArea.remove();
                // indicate that the link is copied
                alert("Link Copied");

            });
        }




    </script>

    <%- include ("./partials/footer.ejs") %>