<%- include ("./partials/header.ejs") %>

    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>AUDITION VIDEO FOR <%=audition.auditionName %>
                </h2>
            </div>
            <!-- Basic Example -->
            <div class="row clearfix">
                <% videos.forEach(v=> { %>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="card">
                            <div class="header bg-orange">
                                <h2>
                                    <small>
                                        <%= users['name'] %>
                                    </small>
                                </h2>
                                <ul class="header-dropdown m-r--5">
                                    <li class="dropdown">
                                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                            role="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">more_vert</i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="javascript:void(0);">Action</a></li>
                                            <li><a href="javascript:void(0);">Another action</a></li>
                                            <li><a href="javascript:void(0);">Something else here</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="body">
                                <video controls src="<%=v.url%>" height="100%" width="100%"></video>
                            </div>
                        </div>
                    </div>
                    <% }) %>





            </div>

            <!-- #END# Basic Example -->
            <!-- Colored Card - With Loading -->


            <!-- #END# Colored Card - With Loading -->
        </div>
    </section>
    <%- include ("./partials/footer.ejs") %>